In [1]:
import pandas as pd
import numpy as np
d=pd.read_csv("D:/Fliprobo/Worksheets/Questions/data.csv")
xy=pd.DataFrame(d)

#### 1.No.of Rows and Columns

In [2]:
rows = len(xy.axes[0]) 
cols = len(xy.axes[1]) 
  
# Print the number of rows and columns 
print("Number of Rows: " + str(rows)) 
print("Number of Columns: " + str(cols))

Number of Rows: 23678
Number of Columns: 21

In [3]:
new=xy

#### 2.Displaying datatypes of each column

In [4]:
xy.dtypes

Suburb            object
Address           object
Rooms            float64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

#### 3.No.of empty rows having all null values

In [5]:
xy.isnull().sum(axis=1)[xy.isnull().sum(axis=1)==21]

31       21
1145     21
1348     21
2119     21
3277     21
         ..
22288    21
22704    21
22918    21
23153    21
23341    21
Length: 131, dtype: int64

#### 4.Dropping the empty rows

In [6]:
xy.drop((xy.isnull().sum(axis=1)[xy.isnull().sum(axis=1)==21]),inplace=True)

In [7]:
xy.shape

(23677, 21)

#### 5.Column names with missing values

In [8]:
xy.isnull().sum()

Suburb             131
Address            131
Rooms              131
Type               131
Price             5282
Method             131
SellerG            131
Date               131
Distance           132
Postcode           132
Bedroom2          4611
Bathroom          4614
Car               4756
Landsize          6267
BuildingArea     13659
YearBuilt        12137
CouncilArea       8021
Lattitude         4434
Longtitude        4434
Regionname         132
Propertycount      132
dtype: int64

#### 6.Missing values and their percentage in each column

In [9]:
data_miss=(xy.isna().sum()/len(xy))*100
data_miss

Suburb            0.553280
Address           0.553280
Rooms             0.553280
Type              0.553280
Price            22.308569
Method            0.553280
SellerG           0.553280
Date              0.553280
Distance          0.557503
Postcode          0.557503
Bedroom2         19.474596
Bathroom         19.487266
Car              20.087004
Landsize         26.468725
BuildingArea     57.688896
YearBuilt        51.260717
CouncilArea      33.876758
Lattitude        18.727035
Longtitude       18.727035
Regionname        0.557503
Propertycount     0.557503
dtype: float64

#### 7.Row indexes having missing values

In [10]:
xy.isnull().sum(axis=1)

0        3
1        2
2        0
3        3
4        0
        ..
23673    2
23674    8
23675    4
23676    1
23677    2
Length: 23677, dtype: int64

#### 8.Missing values and percentage at each row

In [11]:
cols = len(xy.axes[1])
data_miss_row=xy.isna().sum(axis=1)/cols
data_miss_row

0        0.142857
1        0.095238
2        0.000000
3        0.142857
4        0.000000
           ...
23673    0.095238
23674    0.380952
23675    0.190476
23676    0.047619
23677    0.095238
Length: 23677, dtype: float64

#### 9.column names having more than 30% missing values and removal that values from the dataset

In [12]:
xy.isnull().sum()> 0.30*len(xy)

Suburb           False
Address          False
Rooms            False
Type             False
Price            False
Method           False
SellerG          False
Date             False
Distance         False
Postcode         False
Bedroom2         False
Bathroom         False
Car              False
Landsize         False
BuildingArea      True
YearBuilt         True
CouncilArea       True
Lattitude        False
Longtitude       False
Regionname       False
Propertycount    False
dtype: bool

In [13]:
#so we have three columns more than 30% of null data
xy.drop(['BuildingArea','YearBuilt','CouncilArea'],axis=1,inplace=True)

#### 10.the number and percentage of rows having more than 5 missing values and removal of the columns having less than 20% of missing values

In [14]:
xy.isnull().sum()

Suburb            131
Address           131
Rooms             131
Type              131
Price            5282
Method            131
SellerG           131
Date              131
Distance          132
Postcode          132
Bedroom2         4611
Bathroom         4614
Car              4756
Landsize         6267
Lattitude        4434
Longtitude       4434
Regionname        132
Propertycount     132
dtype: int64

Here every rows have more than 5 missing values

In [15]:
for col in xy.columns:
    if xy[col].isnull().sum()<0.20*len(xy):
        xy.drop([col],axis=1,inplace=True)

In [16]:
xy.head()

       Price  Car  Landsize
0        NaN  1.0     126.0
1  1480000.0  1.0     202.0
2  1035000.0  0.0     156.0
3        NaN  1.0       0.0
4  1465000.0  0.0     134.0

In [17]:
#### 11.description of data and percentage of missing values still left column wise

In [18]:
#11
xy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23677 entries, 0 to 23677
Data columns (total 3 columns):
Price       18395 non-null float64
Car         18921 non-null float64
Landsize    17410 non-null float64
dtypes: float64(3)
memory usage: 739.9 KB

In [19]:
(xy.isnull().sum()/len(xy))*100

Price       22.308569
Car         20.087004
Landsize    26.468725
dtype: float64

#### 12.Computing price column

In [20]:
from sklearn.preprocessing import Imputer
imp=Imputer(missing_values='NaN',strategy='mean')
xy['Price']=imp.fit_transform(xy['Price'].values.reshape(-1,1))

C:\Users\Pradeep\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

#### 13

In [21]:
(xy.isnull().sum()/len(xy))*100

Price        0.000000
Car         20.087004
Landsize    26.468725
dtype: float64

In [22]:
#Imputing landsize using mean values and car using mode values
xy['Car']=xy['Car'].replace(np.NaN,xy['Car'].mode)
xy['Landsize']=imp.fit_transform(xy['Landsize'].values.reshape(-1,1))

#### 14

In [23]:
#we see we have 21 column at the start and now we are at the 3 column
#18 columns has been removed till now
print("Total percentage of columns removed is",(18/21)*100)

Total percentage of columns removed is 85.71428571428571